<a href="https://colab.research.google.com/github/descandon88/tesis_maestria/blob/main/EDA_ecuadorian_firms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")
import os
import pandas as pd
import numpy as np
# Librerías para visualizacion
import matplotlib.pyplot as plt
import matplotlib.colors as colors
from matplotlib import cm
import re
import networkx as nx
from itertools import count
from itertools import combinations
from itertools import product
import statsmodels.api as sm
import urllib.request, json
!pip3 install geopandas
import geopandas
# -- set scientific notation to display numbers fully rather than exponential
pd.set_option('display.float_format', '{:.2f}'.format)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all' 
import seaborn as sns
sns.set_style('whitegrid') # grids en dark background

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 100000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_colwidth',300)
print('librerías cargadas')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 10.0 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from geopandas) (1.4.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from geopandas) (23.0)
Collecting fiona>=1.8
  Downloading Fiona-1.9.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.1/16.1 MB 18.0 MB/s eta 0:00:00
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.9/dist-packages (from geopandas) (2.0.1)
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.4.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.7/7.7 MB 28.9 MB/s eta 0:00:00
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (8.1.3)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (6.1.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (2022.12.7)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (22.2.0)
Collecting munch>=2.3.2
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (1.22.4)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from munch>=2.3.2->fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata->fiona>=1.8->geopandas) (3.15.0)
Installing collected packages: pyproj, munch, cligj, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.2 geopandas-0.12.2 munch-2.5.0 pyproj-3.4.1
librerías cargadas

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [12]:
## Se importa la base de firmas del Ecuador drive
df_base = pd.read_csv("/content/drive/MyDrive/eci//base/base_firms/EMPRESAS_periodo_2012_2021.csv", encoding='utf-8')

In [13]:
df_base.head()
df_base.info()

    id_empresa  anio situacion                             forma_institucional unidad_legal_tipo clase_contribuyente obligado_llevar_contabilidad gsectores codigo_seccion                                          seccion codigo_division                                                                    division codigo_clase                                                                            clase                             zona_planif  codigo_provincia provincia  codigo_canton      canton ventas_totales ventas_nacionales exportaciones_netas         plazas_equiv plazas_equiv_hombres plazas_equiv_mujeres plazas plazas_hombres plazas_mujeres plazas_ult plazas_ult_hombres plazas_ult_mujeres plazas_iess_trim_1   plazas_iess_trim_2   plazas_iess_trim_3 plazas_iess_trim_4 plazas_rango_edad_1  plazas_rango_edad_2 plazas_rango_edad_3 plazas_rango_edad_4 plazas_rango_edad_5 plazas_ult_rango_edad_1 plazas_ult_rango_edad_2 plazas_ult_rango_edad_3 plazas_ult_rango_edad_4 plazas_ult_rango_edad_5         empleo_equiv empleo_equiv_hombres empleo_equiv_mujeres empleo empleo_hombres empleo_mujeres empleo_ult empleo_ult_hombres empleo_ult_mujeres empleo_iess_trim_1   empleo_iess_trim_2   empleo_iess_trim_3   empleo_iess_trim_4 empleo_rango_edad_1  empleo_rango_edad_2 empleo_rango_edad_3 empleo_rango_edad_4 empleo_rango_edad_5 empleo_ult_rango_edad_1 empleo_ult_rango_edad_2 empleo_ult_rango_edad_3 empleo_ult_rango_edad_4 empleo_ult_rango_edad_5                       estrato_ventas   estrato_plazase   estrato_empleoe   estrato_plazasp   estrato_empleop   estrato_plazasu   estrato_empleou                   estrato_ventas_cop estrato_plazas_cop       tamanoe_plazas       tamanoe_empleo       tamanop_empleo       tamanou_empleo       tamanop_plazas       tamanou_plazas       tamano_cop rise remuneraciones remuneraciones_hombres remuneraciones_mujeres                                             estructura_estrat propietarios_sexo fecha_inicio_actividad fecha_cese_actividad fecha_reinicio_actividad  fecha_inscripcion fecha_actualizacion fecha_suspension_definitiva
0  43578483099  2012    Activo  Persona Natural obligado a llevar contabilidad   Persona Natural  Otro Contribuyente                           Si  Comercio              G  Comercio, reparación automotores y motocicletas             G46  Comercio al por mayor, excepto el de vehículos automotores y motocicletas.        G4669  Venta al por mayor de desperdicios, desechos, chatarra y otros productos n.c.p.  Zona 6 - Azuay, Cañar, Morona Santiago                 3     Cañar            304  La Troncal         298200            298200                   0     ,166666666666667     ,166666666666667                           1              1                         1                  1                                                                                                  1                                             ,166666666666667                                                                                                               1                                                     ,166666666666667     ,166666666666667                           1              1                         1                  1                                                                                                    1                                             ,166666666666667                                                                                                               1                                                     Estrato II (100.001 – 1.000.000)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)               Estrato I (<= 300.000)   Estrato I (<= 9)      Pequeña empresa      Pequeña empresa      Pequeña empresa      Pequeña empresa      Pequeña empresa      Pequeña empresa     Microempresa                 800                    800                         Ventas y plazas de empleo registrado actividades productivas            Hombre      2005 IV Trimestre                             2012 II Trimestre  2005 IV Trimestre    2013 I Trimestre
1  43578483099  2013    Activo  Persona Natural obligado a llevar contabilidad   Persona Natural  Otro Contribuyente                           Si  Comercio              G  Comercio, reparación automotores y motocicletas             G46  Comercio al por mayor, excepto el de vehículos automotores y motocicletas.        G4669  Venta al por mayor de desperdicios, desechos, chatarra y otros productos n.c.p.  Zona 6 - Azuay, Cañar, Morona Santiago                 3     Cañar            304  La Troncal         501774            501774                   0  166,666,666,666,667                    1     ,666666666666667      2              1              1          2                  1                  1                  1  166,666,666,666,667                    2                  2                         ,666666666666667                   1                                                                                       1                       1                                                  166,666,666,666,667                    1     ,666666666666667      2              1              1          2                  1                  1                  1  166,666,666,666,667                    2                    2                         ,666666666666667                   1                                                                                       1                       1                                                     Estrato II (100.001 – 1.000.000)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)     Estrato II (300.001 – 1.000.000)   Estrato I (<= 9)      Pequeña empresa      Pequeña empresa      Pequeña empresa      Pequeña empresa      Pequeña empresa      Pequeña empresa  Pequeña empresa         737,371,001                   4800            257,371,001  Ventas y plazas de empleo registrado actividades productivas            Hombre      2005 IV Trimestre                             2012 II Trimestre  2005 IV Trimestre    2013 I Trimestre
2  43578483099  2014    Activo  Persona Natural obligado a llevar contabilidad   Persona Natural  Otro Contribuyente                           Si  Comercio              G  Comercio, reparación automotores y motocicletas             G46  Comercio al por mayor, excepto el de vehículos automotores y motocicletas.        G4669  Venta al por mayor de desperdicios, desechos, chatarra y otros productos n.c.p.  Zona 6 - Azuay, Cañar, Morona Santiago                 3     Cañar            304  La Troncal        1216812           1216812                   0  258,333,333,333,333  158,333,333,333,333                    1      3              2              1          4                  3                  1                  2                    2  233,333,333,333,333                  4                      133,333,333,333,333                1,25                                                                                       2                       2                                                  258,333,333,333,333  158,333,333,333,333                    1      3              2              1          4                  3                  1                  2                    2  233,333,333,333,333                    4                      133,333,333,333,333                1,25                                                                                       2                       2                                                  Estrato III (1.000.001 – 2.000.000)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato III (1.000.001 – 5.000.000)   Estrato I (<= 9)  Mediana empresa "A"  Mediana empresa "A"  Mediana empresa "A"  Mediana empresa "A"  Mediana empresa "A"  Mediana empresa "A"  Mediana empresa       1,123,840,012                   7069            416,940,012  Ventas y plazas de empleo registrado actividades productivas            Hombre      2005 IV Trimestre                             2012 II Trimestre  2005 IV Trimestre    2013 I Trimestre
3  43578483099  2015    Activo  Persona Natural obligado a llevar contabilidad   Persona Natural  Otro Contribuyente                           Si  Comercio              G  Comercio, reparación automotores y motocicletas             G46  Comercio al por mayor, excepto el de vehículos automotores y motocicletas.        G4669  Venta al por mayor de desperdicios, desechos, chatarra y otros productos n.c.p.  Zona 6 - Azuay, Cañar, Morona Santiago                 3     Cañar            304  La Troncal         790468            790468                   0                    4                    3                    1      4              3              1          4                  3                  1                  4                    4                    4                  4                                        2                   2                                                                                       2                       2                                                                    4                    3                    1      4              3              1          4                  3                  1                  4                    4                    4                    4                                        2                   2                                                                                       2                       2                                                     Estrato II (100.001 – 1.000.000)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)     Estrato II (300.001 – 1.000.000)   Estrato I (<= 9)      Pequeña empresa      Pequeña empresa      Pequeña empresa      Pequeña empresa      Pequeña empresa      Pequeña empresa  Pequeña empresa             17797,2                13460,4                 4336,8  Ventas y plazas de empleo registrado actividades productivas            Hombre      2005 IV Trimestre                             2012 II Trimestre  2005 IV Trimestre    2013 I Trimestre
4  43578483099  2016    Activo  Persona Natural obligado a llevar contabilidad   Persona Natural  Otro Contribuyente                           Si  Comercio              G  Comercio, reparación automotores y motocicletas             G46  Comercio al por mayor, excepto el de vehículos automotores y motocicletas.        G4669  Venta al por mayor de desperdicios, desechos, chatarra y otros productos n.c.p.  Zona 6 - Azuay, Cañar, Morona Santiago                 3     Cañar            304  La Troncal                                                                      3,25                    3                  ,25      3              3              0          3                  3                                     4                    3                    3                  3                                     1,25                   2                                                                                       1                       2                                                  258,333,333,333,333  233,333,333,333,333                  ,25      3              2              1          1                  1                                     4                    3                    2  133,333,333,333,333                      108,333,333,333,333                 1,5                                                                                                               1                                                                                       Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)  Estrato I (<= 9)                                        Estrato I (<= 9)         Microempresa         Microempresa         Microempresa         Microempresa         Microempresa         Microempresa     Microempresa             14513,8               13754,04                 759,76                                   Plazas de empleo registrado            Hombre      2005 IV Trimestre                             2012 II Trimestre  2005 IV Trimestre    2013 I Trimestre

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 96 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   id_empresa                    1048575 non-null  int64
 1   anio                          1048575 non-null  int64
 2   situacion                     1048575 non-null  object
 3   forma_institucional           1048575 non-null  object
 4   unidad_legal_tipo             1048575 non-null  object
 5   clase_contribuyente           1048575 non-null  object
 6   obligado_llevar_contabilidad  1048575 non-null  object
 7   gsectores                     1048575 non-null  object
 8   codigo_seccion                1048575 non-null  object
 9   seccion                       1048575 non-null  object
 10  codigo_division               1048575 non-null  object
 11  division                      1048575 non-null  object
 12  codigo_clase                  1048575 non-null  object
 13  clase                         1048575 non-null  object
 14  zona_planif                   1048575 non-null  object
 15  codigo_provincia              1048575 non-null  int64
 16  provincia                     1048575 non-null  object
 17  codigo_canton                 1048575 non-null  int64
 18  canton                        1048575 non-null  object
 19  ventas_totales                1048575 non-null  object
 20  ventas_nacionales             1048575 non-null  object
 21  exportaciones_netas           1048575 non-null  object
 22  plazas_equiv                  1048575 non-null  object
 23  plazas_equiv_hombres          1048575 non-null  object
 24  plazas_equiv_mujeres          1048575 non-null  object
 25  plazas                        1048575 non-null  object
 26  plazas_hombres                1048575 non-null  object
 27  plazas_mujeres                1048575 non-null  object
 28  plazas_ult                    1048575 non-null  object
 29  plazas_ult_hombres            1048575 non-null  object
 30  plazas_ult_mujeres            1048575 non-null  object
 31  plazas_iess_trim_1            1048575 non-null  object
 32  plazas_iess_trim_2            1048575 non-null  object
 33  plazas_iess_trim_3            1048575 non-null  object
 34  plazas_iess_trim_4            1048575 non-null  object
 35  plazas_rango_edad_1           1048575 non-null  object
 36  plazas_rango_edad_2           1048575 non-null  object
 37  plazas_rango_edad_3           1048575 non-null  object
 38  plazas_rango_edad_4           1048575 non-null  object
 39  plazas_rango_edad_5           1048575 non-null  object
 40  plazas_ult_rango_edad_1       1048575 non-null  object
 41  plazas_ult_rango_edad_2       1048575 non-null  object
 42  plazas_ult_rango_edad_3       1048575 non-null  object
 43  plazas_ult_rango_edad_4       1048575 non-null  object
 44  plazas_ult_rango_edad_5       1048575 non-null  object
 45  empleo_equiv                  1048575 non-null  object
 46  empleo_equiv_hombres          1048575 non-null  object
 47  empleo_equiv_mujeres          1048575 non-null  object
 48  empleo                        1048575 non-null  object
 49  empleo_hombres                1048575 non-null  object
 50  empleo_mujeres                1048575 non-null  object
 51  empleo_ult                    1048575 non-null  object
 52  empleo_ult_hombres            1048575 non-null  object
 53  empleo_ult_mujeres            1048575 non-null  object
 54  empleo_iess_trim_1            1048575 non-null  object
 55  empleo_iess_trim_2            1048575 non-null  object
 56  empleo_iess_trim_3            1048575 non-null  object
 57  empleo_iess_trim_4            1048575 non-null  object
 58  empleo_rango_edad_1           1048575 non-null  object
 59  empleo_rango_edad_2           1048575 non-null  object
 60  empleo_rango_edad_3           1048575 non-null  object
 61  empleo_rango_edad_4           1048575 non-null  object
 62  empleo_rango_edad_5           1048575 non-null  object
 63  empleo_ult_rango_edad_1       1048575 non-null  object
 64  empleo_ult_rango_edad_2       1048575 non-null  object
 65  empleo_ult_rango_edad_3       1048575 non-null  object
 66  empleo_ult_rango_edad_4       1048575 non-null  object
 67  empleo_ult_rango_edad_5       1048575 non-null  object
 68  estrato_ventas                1048575 non-null  object
 69  estrato_plazase               1048575 non-null  object
 70  estrato_empleoe               1048575 non-null  object
 71  estrato_plazasp               1048575 non-null  object
 72  estrato_empleop               1048575 non-null  object
 73  estrato_plazasu               1048575 non-null  object
 74  estrato_empleou               1048575 non-null  object
 75  estrato_ventas_cop            1048575 non-null  object
 76  estrato_plazas_cop            1048575 non-null  object
 77  tamanoe_plazas                1048575 non-null  object
 78  tamanoe_empleo                1048575 non-null  object
 79  tamanop_empleo                1048575 non-null  object
 80  tamanou_empleo                1048575 non-null  object
 81  tamanop_plazas                1048575 non-null  object
 82  tamanou_plazas                1048575 non-null  object
 83  tamano_cop                    1048575 non-null  object
 84  rise                          1048575 non-null  object
 85  remuneraciones                1048575 non-null  object
 86  remuneraciones_hombres        1048575 non-null  object
 87  remuneraciones_mujeres        1048575 non-null  object
 88  estructura_estrat             1048575 non-null  object
 89  propietarios_sexo             1048575 non-null  object
 90  fecha_inicio_actividad        1048575 non-null  object
 91  fecha_cese_actividad          1048575 non-null  object
 92  fecha_reinicio_actividad      1048575 non-null  object
 93  fecha_inscripcion             1048575 non-null  object
 94  fecha_actualizacion           1048575 non-null  object
 95  fecha_suspension_definitiva   1048575 non-null  object
dtypes: int64(4), object(92)
memory usage: 768.0+ MB

In [52]:
# df_act = df_base[(df_base['forma_institucional']="Sociedad con fines de lucro")&(df_base['forma_institucional']="Sociedad con fines de lucro")].copy()
opcion_form_institucional=["Sociedad con fines de lucro"]
opcion_gsectores=['Industria Manufacturera', 'Servicios']
opcion_situacion=['Activo']
df_filt=df_base.loc[df_base['forma_institucional'].isin(opcion_form_institucional)].copy()
df_filt=df_filt.loc[df_filt['gsectores'].isin(opcion_gsectores)].copy()

df_filt=df_filt.loc[df_filt['situacion'].isin(opcion_situacion)].copy()
# df_filt['plazas'] = df_filt.plazas.astype(int)
# df_filt['plazas'] = df_filt['plazas'].astype('int')
# df_filt=df_filt.loc[df_filt['plazas']>15].copy()
df_filt.drop(columns=['empleo_hombres', 'empleo_mujeres','plazas_rango_edad_1','plazas_hombres','plazas_equiv','obligado_llevar_contabilidad','remuneraciones','remuneraciones_hombres',
                      'remuneraciones_mujeres','plazas_mujeres','plazas_equiv_hombres','plazas_equiv_mujeres',	'plazas_ult',	'plazas_ult_hombres',	'plazas_ult_mujeres',	'plazas_iess_trim_1',	'plazas_iess_trim_2',	'plazas_iess_trim_3',
                      'plazas_iess_trim_4',	'plazas_rango_edad_2'	,'plazas_rango_edad_3',	'plazas_rango_edad_4'	,'plazas_rango_edad_5',	'plazas_ult_rango_edad_1'	,'plazas_ult_rango_edad_2',	'plazas_ult_rango_edad_3',
                      'plazas_ult_rango_edad_4',	'plazas_ult_rango_edad_5',	'empleo_equiv',	'empleo_equiv_hombres',	'empleo_equiv_mujeres',	'empleo',	'empleo_ult',	'empleo_ult_hombres',	'empleo_ult_mujeres',
                      'empleo_iess_trim_1',	'empleo_iess_trim_2'	,'empleo_iess_trim_3',	'empleo_iess_trim_4',	'empleo_rango_edad_1',	'empleo_rango_edad_2',	'empleo_rango_edad_3'	,'empleo_rango_edad_4',	'empleo_rango_edad_5',
                      'empleo_ult_rango_edad_1'	,'empleo_ult_rango_edad_2',	'empleo_ult_rango_edad_3','zona_planif',	'empleo_ult_rango_edad_4'	,'empleo_ult_rango_edad_5','fecha_inicio_actividad','propietarios_sexo',
                      'estrato_plazase'	,'estrato_empleoe'	,'estrato_plazasp'	,'estrato_empleop',	'estrato_plazasu'	,'estrato_empleou'], axis=1,inplace=True)

df_filt.sample(n=5) 
df_filt.info()
## mayores a 50000 
# new_column_list

         id_empresa  anio situacion          forma_institucional unidad_legal_tipo clase_contribuyente  gsectores codigo_seccion                                                        seccion codigo_division                                      division codigo_clase                                                                  clase  codigo_provincia  provincia  codigo_canton     canton ventas_totales ventas_nacionales exportaciones_netas plazas                       estrato_ventas                   estrato_ventas_cop    estrato_plazas_cop       tamanoe_plazas       tamanoe_empleo       tamanop_empleo       tamanou_empleo       tamanop_plazas       tamanou_plazas       tamano_cop rise                                             estructura_estrat fecha_cese_actividad fecha_reinicio_actividad  fecha_inscripcion fecha_actualizacion fecha_suspension_definitiva
21347   14635415097  2013    Activo  Sociedad con fines de lucro  Persona Jurídica  Otro Contribuyente  Servicios              L                                      Actividades inmobiliarias             L68                    Actividades inmobiliarias.        L6810  Actividades inmobiliarias realizadas con bienes propios o arrendados.                 9     Guayas            901  Guayaquil          58966             58966                   0      4               Estrato I (<= 100.000)               Estrato I (<= 300.000)      Estrato I (<= 9)         Microempresa         Microempresa         Microempresa         Microempresa         Microempresa         Microempresa     Microempresa       Ventas y plazas de empleo registrado actividades productivas                                                2006 II Trimestre  2009 III Trimestre
236744  13826803171  2013    Activo  Sociedad con fines de lucro  Persona Jurídica  Otro Contribuyente  Servicios              H                                    Transporte y almacenamiento             H49  Transporte por vía terrestre y por tuberías.        H4923                                     Transporte de carga por carretera.                17  Pichincha           1701      Quito        2141611           2141611                   0     37   Estrato IV (2.000.001 – 5.000.000)  Estrato III (1.000.001 – 5.000.000)    Estrato II (10-49)  Mediana empresa "B"  Mediana empresa "B"  Mediana empresa "B"  Mediana empresa "B"  Mediana empresa "B"  Mediana empresa "B"  Mediana empresa       Ventas y plazas de empleo registrado actividades productivas                                                 1999 I Trimestre    2010 I Trimestre
708842  44603705171  2018    Activo  Sociedad con fines de lucro  Persona Jurídica  Otro Contribuyente  Servicios              Q  Actividades de atención a la salud humana y asistencia social             Q86   Actividades de atención de la salud humana.        Q8620                                  Actividades de médicos y odontólogos.                17  Pichincha           1701      Quito         275962            275962                   0      4     Estrato II (100.001 – 1.000.000)               Estrato I (<= 300.000)      Estrato I (<= 9)      Pequeña empresa      Pequeña empresa      Pequeña empresa      Pequeña empresa      Pequeña empresa      Pequeña empresa     Microempresa           Ventas y plazas de empleo registrado actividades (O,P,Q)                                                2012 II Trimestre   2012 II Trimestre
943655  13708681096  2016    Activo  Sociedad con fines de lucro  Persona Jurídica  Otro Contribuyente  Servicios              I            Actividades de alojamiento y de servicio de comidas             I56                Servicio de alimento y bebida.        I5610            Actividades de restaurantes y de servicio móvil de comidas.                 9     Guayas            901  Guayaquil        1158150           1158150                   0     59  Estrato III (1.000.001 – 2.000.000)  Estrato III (1.000.001 – 5.000.000)  Estrato III (50-199)  Mediana empresa "A"  Mediana empresa "A"  Mediana empresa "A"  Mediana empresa "A"  Mediana empresa "A"  Mediana empresa "A"  Mediana empresa       Ventas y plazas de empleo registrado actividades productivas                                                 2003 I Trimestre  2010 III Trimestre
940223  14733293099  2013    Activo  Sociedad con fines de lucro  Persona Jurídica  Otro Contribuyente  Servicios              N            Actividades de servicios administrativos y de apoyo             N77      Actividades de alquiler y arrendamiento.        N7730      Alquiler de otros tipos de maquinaria, equipo y bienes tangibles.                 9     Guayas            901  Guayaquil         368875            368875                   0      7     Estrato II (100.001 – 1.000.000)     Estrato II (300.001 – 1.000.000)      Estrato I (<= 9)      Pequeña empresa      Pequeña empresa      Pequeña empresa      Pequeña empresa      Pequeña empresa      Pequeña empresa  Pequeña empresa       Ventas y plazas de empleo registrado actividades productivas                                                1992 II Trimestre  2010 III Trimestre

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51565 entries, 13899 to 1009868
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id_empresa                   51565 non-null  int64
 1   anio                         51565 non-null  int64
 2   situacion                    51565 non-null  object
 3   forma_institucional          51565 non-null  object
 4   unidad_legal_tipo            51565 non-null  object
 5   clase_contribuyente          51565 non-null  object
 6   gsectores                    51565 non-null  object
 7   codigo_seccion               51565 non-null  object
 8   seccion                      51565 non-null  object
 9   codigo_division              51565 non-null  object
 10  division                     51565 non-null  object
 11  codigo_clase                 51565 non-null  object
 12  clase                        51565 non-null  object
 13  codigo_provincia             51565 non-null  int64
 14  provincia                    51565 non-null  object
 15  codigo_canton                51565 non-null  int64
 16  canton                       51565 non-null  object
 17  ventas_totales               51565 non-null  object
 18  ventas_nacionales            51565 non-null  object
 19  exportaciones_netas          51565 non-null  object
 20  plazas                       51565 non-null  object
 21  estrato_ventas               51565 non-null  object
 22  estrato_ventas_cop           51565 non-null  object
 23  estrato_plazas_cop           51565 non-null  object
 24  tamanoe_plazas               51565 non-null  object
 25  tamanoe_empleo               51565 non-null  object
 26  tamanop_empleo               51565 non-null  object
 27  tamanou_empleo               51565 non-null  object
 28  tamanop_plazas               51565 non-null  object
 29  tamanou_plazas               51565 non-null  object
 30  tamano_cop                   51565 non-null  object
 31  rise                         51565 non-null  object
 32  estructura_estrat            51565 non-null  object
 33  fecha_cese_actividad         51565 non-null  object
 34  fecha_reinicio_actividad     51565 non-null  object
 35  fecha_inscripcion            51565 non-null  object
 36  fecha_actualizacion          51565 non-null  object
 37  fecha_suspension_definitiva  51565 non-null  object
dtypes: int64(4), object(34)
memory usage: 15.3+ MB