In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")
import os
import pandas as pd
import numpy as np
# Librerías para visualizacion
import matplotlib.pyplot as plt
import matplotlib.colors as colors
from matplotlib import cm
import re
import networkx as nx
from itertools import count
from itertools import combinations
from itertools import product
import statsmodels.api as sm
import urllib.request, json
!pip3 install geopandas
import geopandas
# -- set scientific notation to display numbers fully rather than exponential
pd.set_option('display.float_format', '{:.2f}'.format)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all' 
import seaborn as sns
sns.set_style('whitegrid') # grids en dark background

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 100000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_colwidth',300)
print('librerías cargadas')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 4.2 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from geopandas) (21.3)
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.8/dist-packages (from geopandas) (2.0.0)
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.4.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     |████████████████████████████████| 7.8 MB 50.8 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.22-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.6 MB)
     |████████████████████████████████| 16.6 MB 52.5 MB/s
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (2022.12.7)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->geopandas) (3.0.9)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.22 geopandas-0.12.2 munch-2.5.0 pyproj-3.4.1
librerías cargadas

#¿Qué es PRODY?

This is a measure calculated as the GDP per
capita of countries that produce it, weighted by their revealed comparative advantage in
that product.

Se importa la base desde drive

In [3]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [4]:
## Se importa la base de exportaciones de productos drive
df = pd.read_csv("/content/drive/MyDrive/eci/base/df_updated.csv")
print('dataframe cargado')

dataframe cargado

In [5]:
df.sample(n=6)
df.info()

         year country_code       country_name  product_code                                                                                                                                                                                               product_name  export_value
6126445  2000          WSM              Samoa          8463                                                                                                      Machine-tools; n.e.s. for working metal, sintered metal carbides or cermets without removing material             0
2391335  2012          WLF  Wallis and Futuna          3502                                                                                                                                                        Albumins; albuminates and other albumin derivatives             0
2205717  1995          SUR           Suriname          3105      Fertilizers; mineral or chemical, containing 2 or 3 of the elements nitrogen, phosphorus, potassium; other fertilisers; goods of chapter 31 in tablets or packages of gross weight not exceeding 10kg             0
1303126  2006          MYS           Malaysia          2519  Natural magnesium carbonate (magnesite); fused magnesia; dead-burned (sintered) magnesia, whether or not containing small quantities of other oxides added before sintering; magnesium oxide, pure or not        205100
5961007  1995          CHL              Chile          8436                    Agricultural, horticultural, forestry, poultry-keeping, bee-keeping machinery; including germination plant fitted with mechanical or thermal equipment; poultry incubators and brooders        523401
7017971  2020          JOR             Jordan          9109                                                                                                                                                                    Clock movements; complete and assembled             0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7373271 entries, 0 to 7373270
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   year          int64
 1   country_code  object
 2   country_name  object
 3   product_code  int64
 4   product_name  object
 5   export_value  int64
dtypes: int64(3), object(3)
memory usage: 337.5+ MB

In [6]:
df['country_name'].nunique()

242

#Calculo de RCA

In [7]:
## Función para el cálculo de RCA

def calc_rca(data,pais_col,prod_col,anio_col,value_col):
    """
      La función que calcula la RCA
    
    """
    print('Creando las combinaciones de país-producto-tiempo')
    df_all = pd.DataFrame(list(product(data[anio_col].unique(), data[pais_col].unique(),data[prod_col].unique())))
    df_all.columns=[anio_col,pais_col,prod_col]
    print('Se procede a fusionar los datos')
    df_all = pd.merge(df_all,data[[anio_col,pais_col,prod_col,value_col]],how='left',on=[anio_col,pais_col,prod_col])
    df_all.loc[df_all[value_col].isnull(),value_col] = 0

    # En esta parte se calculan propiedades
    print('calculando')
    df_all['Xcpt'] = df_all[value_col]
    df_all['Xct'] = df_all.groupby([pais_col, anio_col])[value_col].transform(sum)
    df_all['Xpt'] = df_all.groupby([prod_col, anio_col])[value_col].transform(sum)
    df_all['Xt'] = df_all.groupby([anio_col])[value_col].transform('sum')

    df_all['RCAcpt'] = (df_all['Xcpt']/df_all['Xct'])/(df_all['Xpt']/df_all['Xt']) #--> ecuación de las ventaja comparativa revelada RCA
    
    ## 0 si el producto / país tiene 0 exportaciones
    df_all.loc[df_all['RCAcpt'].isnull(),'RCAcpt'] = 0 
    # drop the properties 
    df_all.drop(['Xcpt','Xct','Xpt','Xt'],axis=1,inplace=True,errors='ignore')

    return df_all

In [8]:
df_rca = calc_rca(data=df,pais_col='country_name',prod_col='product_name',anio_col='year',value_col='export_value')

print('rca listo!!')

# Se muestran resultados
df_rca[0:10]

Creando las combinaciones de país-producto-tiempo
Se procede a fusionar los datos
calculando
rca listo!!

   year country_name                                                                                   product_name  export_value  RCAcpt
0  1995        Aruba                                                         Horses, asses, mules and hinnies; live      18008.00    0.13
1  1995        Aruba                                                                           Bovine animals; live          0.00    0.00
2  1995        Aruba                                                                                    Swine; live          0.00    0.00
3  1995        Aruba                                                                          Sheep and goats; live          0.00    0.00
4  1995        Aruba  Poultry; live, fowls of the species gallus domesticus, ducks, geese, turkeys and guinea fowls          0.00    0.00
5  1995        Aruba                                                            Animals, n.e.s. in chapter 01; live       2336.00    0.05
6  1995        Aruba                                                       Meat of bovine animals; fresh or chilled          0.00    0.00
7  1995        Aruba                                                                 Meat of bovine animals; frozen          0.00    0.00
8  1995        Aruba                                                        Meat of swine; fresh, chilled or frozen          0.00    0.00
9  1995        Aruba                                               Meat of sheep or goats; fresh, chilled or frozen          0.00    0.00

In [ ]:
df_rca['country_name'].nunique()

242

###Se filtra el dataframe solo para Ecuador

In [9]:

# Ecuador
df_rca[ (df_rca['country_name']=='Ecuador')].sort_values(by=['RCAcpt'],ascending=False)[['product_name','RCAcpt','year']][0:10]

                                                                                                                                    product_name  RCAcpt  year
2176048                                                                                             Bananas, including plantains; fresh or dried  266.11  2002
2476612                                                                                             Bananas, including plantains; fresh or dried  245.41  2003
1875484                                                                                             Bananas, including plantains; fresh or dried  244.05  2001
1574920                                                                                             Bananas, including plantains; fresh or dried  241.97  2000
1274356                                                                                             Bananas, including plantains; fresh or dried  234.63  1999
6384612  Hat-shapes; plaited or made by assembling strips of any material, neither blocked to shape, nor with made brims, nor lined, nor trimmed  233.22  2016
6383944                                                                                             Bananas, including plantains; fresh or dried  231.67  2016
673228                                                                                              Bananas, including plantains; fresh or dried  229.02  1997
6684508                                                                                             Bananas, including plantains; fresh or dried  227.59  2017
6985072                                                                                             Bananas, including plantains; fresh or dried  225.52  2018

In [10]:
## Se importa la base de gdp percapita de todos los países desde el drive
df_gdppc_countries = pd.read_csv("/content/drive/MyDrive/eci/base/gpd_per_capita_countries_db.csv").copy()
print('dataframe del gpd cargado')

dataframe del gpd cargado

In [11]:
df_gdppc_countries[0:3]

                  Country Name Country Code                Indicator Name  Indicator Code   1960   1961   1962   1963   1964   1965   1966   1967   1968   1969   1970   1971   1972   1973   1974   1975   1976   1977   1978   1979   1980   1981   1982   1983   1984   1985    1986    1987    1988     1989     1990     1991     1992     1993     1994     1995     1996     1997     1998     1999     2000     2001     2002     2003     2004     2005     2006     2007     2008     2009     2010     2011     2012     2013     2014     2015     2016     2017     2018     2019     2020     2021
0                        Aruba          ABW  GDP per capita (current US$)  NY.GDP.PCAP.CD    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN 6283.00 7567.25 9274.51 10767.40 11638.73 12850.22 13657.67 14970.15 16675.28 17140.43 17375.23 18713.43 19742.32 19833.83 21023.16 20913.30 21377.10 22050.83 24104.65 24975.67 25833.45 27665.43 29011.56 25739.14 24452.93 26044.44 25609.96 26515.68 26942.31 28421.39 28451.27 29326.71 30220.59 31650.76 24487.86 29342.10
1  Africa Eastern and Southern          AFE  GDP per capita (current US$)  NY.GDP.PCAP.CD 162.91 162.55 172.00 199.18 179.38 198.22 209.41 211.70 224.23 249.58 260.11 278.75 293.08 370.41 444.72 459.90 444.08 489.85 530.37 600.37 738.87 732.92 681.65 691.99 615.41 508.69  552.54  654.32  697.22   722.43   817.15   858.30   728.77   704.74   697.18   762.84   739.47   757.85   696.37   669.69   706.99   628.20   626.56   812.95   985.53  1120.45  1226.18  1369.81  1428.33  1411.58  1643.55  1792.85  1760.22  1731.80  1719.81  1540.85  1432.11  1613.79  1550.18  1500.23  1353.77  1537.34
2                  Afghanistan          AFG  GDP per capita (current US$)  NY.GDP.PCAP.CD  62.37  62.44  60.95  82.02  85.51 105.24 143.10 167.17 134.01 134.25 162.64 166.22 141.37 149.74 181.60 194.67 205.67 232.78 255.05 284.76 291.65 311.85    NaN    NaN    NaN    NaN     NaN     NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN   183.53   200.46   221.66   255.06   274.00   375.08   387.85   443.85   554.60   621.91   663.14   651.99   628.15   592.48   520.25   530.15   502.06   500.52   516.87   368.75

In [12]:
## Se modifica la base de gdp per capita con los datos que solo nos interesan
df_gdppc = df_gdppc_countries.filter(items=['Country Name','Country Code','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019']).copy()
df_gdppc=df_gdppc.rename(columns={"Country Name": "country_name", "Country Code": "country_code"}).copy()
df_gdppc=df_gdppc.melt(id_vars=["country_name", "country_code"], 
        var_name="year", 
        value_name="Value").copy()
df_gdppc=df_gdppc.rename(columns={"Value": "gdp_per_capita"}).copy()
df_gdppc =  df_gdppc.loc[df_gdppc["country_name"] != 'Latin America & the Caribbean (IDA & IBRD countries)' ].copy()
df_gdppc =  df_gdppc.loc[df_gdppc["country_name"] != 'Europe & Central Asia (excluding high income)' ].copy()
df_gdppc =  df_gdppc.loc[df_gdppc["country_name"] != 'World' ].copy()
df_gdppc =  df_gdppc.loc[df_gdppc["country_name"] != 'Fragile and conflict affected situations'].copy()
df_gdppc =  df_gdppc.loc[df_gdppc["country_name"] != 'Pacific island small states'].copy()
df_gdppc =  df_gdppc.loc[df_gdppc["country_name"] != 'OECD members'].copy()
df_gdppc =  df_gdppc.loc[df_gdppc["country_name"] != 'Caribbean small states'].copy()
df_gdppc =  df_gdppc.loc[df_gdppc["country_name"] != 'Heavily indebted poor countries (HIPC)'].copy()
df_gdppc =  df_gdppc.loc[df_gdppc["country_name"] != 'Small states'].copy()
df_gdppc =  df_gdppc.loc[df_gdppc["country_name"] != 'East Asia & Pacific (excluding high income)'].copy()
df_gdppc =  df_gdppc.loc[df_gdppc["country_name"] != 'Europe & Central Asia (IDA & IBRD countries)'].copy()
df_gdppc =  df_gdppc.loc[(df_gdppc["country_name"] != 'Lower middle income') & (df_gdppc["country_name"] != 'IBRD only')& (df_gdppc["country_name"] != 'IDA total') & (df_gdppc["country_name"] != 'East Asia & Pacific')
&(df_gdppc['country_name']!='Sub-Saharan Africa (excluding high income)')&(df_gdppc['country_name']!='Low & middle income')&(df_gdppc['country_name']!='Not classified')
&(df_gdppc['country_name']!='Middle East & North Africa (IDA & IBRD countries)')&(df_gdppc['country_name']!='Post-demographic dividend')&(df_gdppc['country_name']!='Latin America & Caribbean')
&(df_gdppc['country_name']!='Middle income')&(df_gdppc['country_name']!='East Asia & Pacific (IDA & IBRD countries)')&(df_gdppc['country_name']!='IDA & IBRD total') &(df_gdppc['country_name']!='South Asia (IDA & IBRD)')
&(df_gdppc['country_name']!='South Asia')
&(df_gdppc['country_name']!='Least developed countries: UN classification')].copy()
## Se reemplaza actualiza los nombres de paises de la base del Banco Mundial para igualarlos con los de la base CONTRADE
df_gdppc=df_gdppc.replace("Korea, Dem. People's Rep.", "North Korea").copy()
df_gdppc=df_gdppc.replace("Korea, Rep.", "South Korea").copy()
df_gdppc=df_gdppc.replace("Cote d'Ivoire", "Côte d'Ivoire").copy()
df_gdppc=df_gdppc.replace("Congo, Dem. Rep.", "Congo (Democratic Republic of the)").copy()
df_gdppc=df_gdppc.replace("Congo, Rep.", "Congo").copy()
df_gdppc=df_gdppc.replace("Curacao", "Curaçao").copy()
df_gdppc=df_gdppc.replace("British Virgin Islands","Virgin Islands (British)").copy()
df_gdppc=df_gdppc.replace("Egypt, Arab Rep.","Egypt").copy()
df_gdppc=df_gdppc.replace("Hong Kong SAR","Hong Kong").copy()
df_gdppc=df_gdppc.replace("United States","United States of America").copy()
df_gdppc=df_gdppc.replace("St. Vincent and the Grenadines","Saint Vincent and the Grenadines").copy()
df_gdppc=df_gdppc.replace("Venezuela, RB","Venezuela").copy()







# df_gdppc = df_gdppc.drop(df_gdppc.index[3254]).copy()
# df_gdppc = df_gdppc.drop(df_gdppc.index[3522]).copy() #Europe & Central Asia (excluding high income)
# df_gdppc = df_gdppc.drop(df_gdppc.index[1162]).copy() #Heavily indebted poor countries (HIPC)	
# df_gdppc = df_gdppc.drop(df_gdppc.index[[3960,3965,134,4703,1579,5193,2092,2454,449,3407,1395,1204,191,4143,1394,3993,3096,1527,3254,3522,1162,3428,4132,4454]]).copy() #Heavily indebted poor countries (HIPC),	Latin America & the Caribbean (IDA & IBRD countries)	
df_gdppc["year"]=df_gdppc["year"].astype(np.int64).copy()



df_gdppc.sample(n=10)
df_gdppc.shape
df_gdppc.info()
#World
#Fragile and conflict affected situations
#East Asia & Pacific (excluding high income)
#Pacific island small states

                  country_name country_code  year  gdp_per_capita
3805            United Kingdom          GBR  2014        47447.59
1630  Central African Republic          CAF  2006          340.41
4677          Marshall Islands          MHL  2017         4507.62
3446                 Venezuela          VEN  2012        12937.93
1191                    Kuwait          KWT  2004        27601.40
5199                    Latvia          LVA  2019        17945.22
3847                  Cambodia          KHM  2014         1098.07
977                      Nauru          NRU  2003             NaN
1558  Turks and Caicos Islands          TCA  2005        24115.27
546                    Austria          AUT  2002        26527.59

(4780, 4)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4780 entries, 0 to 5319
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_name    4780 non-null   object
 1   country_code    4780 non-null   object
 2   year            4780 non-null   int64
 3   gdp_per_capita  4592 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 186.7+ KB

In [13]:
df_gdppc['country_name'].nunique()

239

#### Se hace un merge entre la base de gdp por países y el dataframe de RCA

In [14]:
# se hace un merge entre la base de gdp por países y el dataframe de RCA
df_merge = df_rca.merge(df_gdppc, how='inner', on=['year','country_name']).copy()

df_merge.sample(n=10)
df_merge.shape

df_merge.info()

         year  country_name                                                                                                                                                                product_name  export_value  RCAcpt country_code  gdp_per_capita
3509601  2014        Sweden                                                                        Tools; plates, sticks, tips and the like for tools, unmounted, of sintered metal carbides or cermets  720587328.00   11.05          SWE        60020.36
3873620  2016       Georgia  Ignition or starting equipment; used for spark-ignition or compression-ignition internal combustion engines; generators and cut outs used in conjunction with such engines     195461.00    0.08          GEO         4062.17
2788284  2011     Singapore                                                                                                                                Engravings, prints and lithographs; original    2159334.00    0.28          SGP        53890.43
3970124  2016  Saudi Arabia                                                                                                                   Track suits, ski suits and swimwear; knitted or crocheted      23408.00    0.00          SAU        19300.05
1176928  2004       Lesotho                                                                                           Cement, concrete or artificial stone; whether or not reinforced, articles thereof       5772.00    0.03          LSO          761.18
2914652  2012       Estonia                                                                                                                                        Zinc; plates, sheets, strip and foil     805789.00    1.46          EST        17403.21
3046147  2012   Timor-Leste                                                                                                 Ceramic building bricks, floor blocks, support or filler tiles and the like          0.00    0.00          TLS         1019.96
50455    2000    Costa Rica                                                                                       Glass in balls (other than microspheres of heading no. 7018), rods or tubes, unworked          0.00    0.00          CRI         3773.03
3077940  2012       Namibia                                                               Petroleum coke, petroleum bitumen; other residues of petroleum oils or oils obtained from bituminous minerals    2768734.00    0.49          NAM         6017.16
2846672  2012         Aruba                                                                                                                                     Meat of swine; fresh, chilled or frozen          0.00    0.00          ABW        25609.96

(4744440, 7)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4744440 entries, 0 to 4744439
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   year            int64
 1   country_name    object
 2   product_name    object
 3   export_value    float64
 4   RCAcpt          float64
 5   country_code    object
 6   gdp_per_capita  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 289.6+ MB

In [15]:
df_merge['year'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019])

In [16]:
df_gdppc['country_name'].unique()
print('\n')

print('se divide acá...')
print('\n')

df_rca['country_name'].unique()

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Côte d'Ivoire", 'Cameroon',
       'Congo (Democratic Republic of the)', 'Congo', 'Colombia',
       'Comoros', 'Cabo Verde', 'Costa Rica', 'Cuba', 'Curaçao',
       'Cayman Islands', 'Cyprus', 'Czechia', 'Germany', 'Djibouti',
       'Dominica', 'Denmark', 'Dominican Republic', 'Algeria',
       'Early-demographic dividend', 'Europe & Central Asia', 'Ecuador',
       'Egypt', 'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Croatia', 'Haiti', 'Hungary', 'IDA blend',
       'Indonesia', 'IDA only', 'Isle of Man', 'India', 'Ireland',
       'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel', 'Italy',
       'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis',
       'South Korea', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lesotho',
       'Late-demographic dividend', 'Lithuania', 'Luxembourg', 'Latvia',
       'Macao SAR, China', 'St. Martin (French part)', 'Morocco',
       'Monaco', 'Moldova', 'Madagascar', 'Maldives',
       'Middle East & North Africa', 'Mexico', 'Marshall Islands',
       'North Macedonia', 'Mali', 'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', 'North Korea', 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'French Polynesia', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador',
       'San Marino', 'Somalia', 'Serbia', 'South Sudan',
       'Sub-Saharan Africa', 'Sao Tome and Principe', 'Suriname',
       'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan', 'Timor-Leste', 'Tonga',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkiye', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States of America',
       'Uzbekistan', 'Saint Vincent and the Grenadines', 'Venezuela',
       'Virgin Islands (British)', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'Samoa', 'Kosovo', 'Yemen, Rep.', 'South Africa',
       'Zambia', 'Zimbabwe'], dtype=object)

se divide acá...

array(['Aruba', 'Afghanistan', 'Angola', 'Anguilla', 'Albania', 'Andorra',
       'Netherlands Antilles', 'United Arab Emirates', 'Argentina',
       'Armenia', 'French Southern and Antarctic Lands',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bermuda', 'Bolivia', 'Brazil', 'Barbados',
       'Brunei Darussalam', 'Bhutan', 'Central African Republic',
       'Canada', 'Cocos (Keeling) Islands', 'Switzerland', 'Chile',
       'China', "Côte d'Ivoire", 'Cameroon',
       'Congo (Democratic Republic of the)', 'Congo', 'Cook Islands',
       'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Cuba',
       'Christmas Island', 'Cayman Islands', 'Cyprus', 'Czech Republic',
       'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic',
       'Algeria', 'Ecuador', 'Egypt', 'Eritrea', 'Western Sahara',
       'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji',
       'Falkland Islands', 'France', 'Faroe Islands', 'Micronesia',
       'Gabon', 'United Kingdom', 'Georgia', 'Ghana', 'Gibraltar',
       'Guinea', 'Guadeloupe', 'Gambia', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'French Guiana', 'Guyana', 'Hong Kong', 'Honduras', 'Croatia',
       'Haiti', 'Hungary', 'Indonesia', 'India',
       'British Indian Ocean Territory', 'Ireland', 'Iran', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati',
       'Saint Kitts and Nevis', 'South Korea', 'Kuwait', 'Laos',
       'Lebanon', 'Liberia', 'Libya', 'Saint Lucia', 'Sri Lanka',
       'Lithuania', 'Latvia', 'Macao', 'Morocco', 'Moldova', 'Madagascar',
       'Maldives', 'Mexico', 'Marshall Islands', 'Macedonia', 'Mali',
       'Malta', 'Myanmar', 'Mongolia', 'Northern Mariana Islands',
       'Mozambique', 'Mauritania', 'Montserrat', 'Martinique',
       'Mauritius', 'Malawi', 'Malaysia', 'New Caledonia', 'Niger',
       'Norfolk Island', 'Nigeria', 'Nicaragua', 'Niue', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'Oman', 'Pakistan',
       'Panama', 'Pitcairn', 'Peru', 'Philippines', 'Palau',
       'Papua New Guinea', 'Poland', 'North Korea', 'Portugal',
       'Paraguay', 'French Polynesia', 'Qatar', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Saudi Arabia',
       'Serbia and Montenegro', 'Sudan', 'Senegal', 'Singapore',
       'Saint Helena, Ascension and Tristan da Cunha', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'Somalia',
       'Saint Pierre and Miquelon', 'Sao Tome and Principe', 'Suriname',
       'Slovakia', 'Slovenia', 'Sweden', 'Seychelles',
       'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad', 'Togo',
       'Thailand', 'Tajikistan', 'Tokelau', 'Turkmenistan', 'Timor-Leste',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu',
       'Tanzania', 'Uganda', 'Ukraine', 'Uruguay',
       'United States of America', 'Uzbekistan',
       'Saint Vincent and the Grenadines', 'Venezuela',
       'Virgin Islands (British)', 'Vietnam', 'Vanuatu',
       'Wallis and Futuna', 'Samoa', 'Yemen', 'South Africa', 'Zambia',
       'Zimbabwe', 'Taiwan', 'Undeclared Countries', 'American Samoa',
       'Botswana', 'Guam', 'Lesotho', 'Luxembourg', 'Montenegro',
       'Namibia', 'Palestine', 'San Marino', 'Serbia', 'Swaziland',
       'Antarctica', 'Heard and McDonald Islands', 'Mayotte',
       'United States Minor Outlying Islands', 'Vatican City',
       'Bouvet Island', 'South Georgia and South Sandwich Islds.',
       'Curaçao', 'St-Martin / St Maarten', 'South Sudan', 'Bonaire',
       'Saint Barthélemy'], dtype=object)

In [17]:
df_rca['country_name'].nunique()
print('\n')
# 'St-Martin / St Maarten' esto está unificado y en la base del banco mundial están separados. 
df_merge['country_name'].nunique()

242

191

####Se elabora un dataframe solo con la base de Ecuador

In [18]:
df_ec= df_merge[ (df_merge['country_name']=='Ecuador')].sort_values(by=['year','RCAcpt'],ascending=True)[['product_name','RCAcpt','export_value','year','gdp_per_capita']].copy()
df_ec.sample(n=10)

                                                                                                                                                                        product_name  RCAcpt  export_value  year  gdp_per_capita
4569544                 Natural steatite; whether or not roughly trimmed or merely cut, by sawing or otherwise, into blocks or slabs of a rectangular (including square) shape; talc    0.00       1283.00  2019         6233.26
2434421                                                                                                                                                             Starches; inulin    0.15     537807.00  2010         4640.25
63060                                   Safes; armoured or reinforced, strong-boxes, doors and safe deposit lockers for strong-rooms, cash or deed boxes and the like, of base metal    0.38     121238.00  2000         1451.53
2435506                                                                                                                                   Clock or watch parts; n.e.s. in chapter 91    0.00       1799.00  2010         4640.25
4332178                                                                                                                                      Cloves; (whole fruit, cloves and stems)    0.00          0.00  2018         6321.35
1486121                                                                                                                     T-shirts, singlets and other vests; knitted or crocheted    0.16    5115192.00  2006         3340.84
4095799                                                                                                                                           Tin; bars, rods, profiles and wire    0.02      12863.00  2017         6246.40
537739   Musical instrument parts (eg mechanisms for musical boxes) and accessories (eg cards, discs and rolls for mechanical instruments), metronomes, tuning forks and pitch pipes    0.00          0.00  2002         2184.21
537520                                                                                       Compression-ignition internal combustion piston engines (diesel or semi-diesel engines)    0.00      44764.00  2002         2184.21
3145992                                                                                                                                     Meat of bovine animals; fresh or chilled    0.00          0.00  2013         6050.35

Se crea el objeto de valores de gpd per capita de los últimos 20 años

In [ ]:
gdp_per_capita_ec = [{'year':2000, 'gdp_per_capita': '1445.3'}, 
                     {'year': 2001, 'gdp_per_capita': '1894.6'},
                     {'year': 2002, 'gdp_per_capita' : '2172.1' },
                      {'year': 2003, 'gdp_per_capita': '2425.9'},
                      {'year': 2004, 'gdp_per_capita': '2691.3'},
                     {'year': 2005, 'gdp_per_capita': '3002.1'},
                      {'year': 2006, 'gdp_per_capita': '3328.9'},
                        {'year': 2007, 'gdp_per_capita': '3567.8'},
                        {'year': 2008, 'gdp_per_capita': '4249'},
                         {'year': 2009, 'gdp_per_capita': '4231.6'},
                         {'year': 2010, 'gdp_per_capita': '4633.6'},
                         {'year': 2011, 'gdp_per_capita': '5200.6'},
                         {'year': 2012, 'gdp_per_capita': '5682'},
                         {'year': 2013, 'gdp_per_capita': '6056.3'},
                         {'year': 2014, 'gdp_per_capita': '6377.1'},
                         {'year': 2015, 'gdp_per_capita': '6124.5'},
                          {'year': 2016, 'gdp_per_capita': '6060.1'},
                          {'year': 2017, 'gdp_per_capita': '6213.5'},
                          {'year': 2018, 'gdp_per_capita': '6295.9'},
                          {'year': 2019, 'gdp_per_capita': '6222.5'},
                     ]

            
df_gdp_ec = pd.DataFrame(gdp_per_capita_ec)
# help(gdp_per_capita_ec)
df_gdp_ec[0:10]

   year gdp_per_capita
0  2000         1445.3
1  2001         1894.6
2  2002         2172.1
3  2003         2425.9
4  2004         2691.3
5  2005         3002.1
6  2006         3328.9
7  2007         3567.8
8  2008           4249
9  2009         4231.6

According to *Hausmann Hwang & Rodrik’s (2005)*, the authors measure this sophistication indirectly by examining the wages of countries
who are intensive exporters of each product. First, they measure the sophistication of each
product, which they call PRODY, which is the revealed comparative advantage (RCA)-weighted
GDP per capita of each country that exports the good:

![prody.jpg]()

This is a measure calculated as the GDP per
capita of countries that produce it, weighted by their revealed comparative advantage in
that product. As mentioned above, Hausmann Hwang & Rodrik use this product-level variable to calculate the level of sophistication of a country’s export basket, EXPYc,t as
the PRODYi,t for each component of the country’s export basket weighted by its share.

In [21]:
def calc_prody(data,pais_col,prod_col,anio_col,export_col, gdp_per_capita_col):
    
    """
      Función que calcula el valor de Prody
      Xc: equals total exports by country c, 
      Yc: equals GDP per capita of country c.

    """
    """
      Where xvali,c,t equals exports of good i by country c in year t

    """
    print('En esta parte de la funcion se crea la combinación de producto-i, país-c y tiempo-t')
    df_prody = pd.DataFrame(list(product(data[anio_col].unique(),data[pais_col].unique(),data[prod_col].unique())))
    df_prody.columns=[anio_col,pais_col,prod_col]
    print('Se procede a fusionar los datos')
    df_prody = pd.merge(df_prody,data[[anio_col,pais_col,prod_col,export_col,gdp_per_capita_col]],how='left',on=[anio_col,pais_col,prod_col])
    df_prody.loc[df_prody[export_col].isnull(),export_col] = 0

    print('Se hace el calculo de RCA')

    df_prody['Xcpt'] = df_prody[export_col]
    df_prody['Xct'] = df_prody.groupby([pais_col, anio_col])[export_col].transform(sum)
    df_prody['Xpt'] = df_prody.groupby([prod_col, anio_col])[export_col].transform(sum)
    df_prody['Xt'] = df_prody.groupby([anio_col])[export_col].transform('sum')
    # df_prody['Yc'] = df_prody.groupby([pais_col, anio_col])[gdp_per_capita_col]
    df_prody['Yc'] = df_prody[gdp_per_capita_col]
    # yc_value = data.groupby(anio_col)[]
    # df_xval = data.groupby(export_col).transform('sum')
    df_prody['RCAcpt'] = (df_prody['Xcpt']/df_prody['Xct'])/(df_prody['Xpt']/df_prody['Xt']) #--> ecuación de las RCA
    df_prody.loc[df_prody['RCAcpt'].isnull(),'RCAcpt'] = 0

    print('Se hace el calculo de PRODY')

    # df_prody['PRODY'] = ((df_prody['Xcpt']/df_prody['Xct'])/(df_prody['Xpt']/df_prody['Xt']))*df_prody['Yc'] 
    df_prody['PRODY']= df_prody['RCAcpt']*df_prody['Yc']

    #retiro las propiedadades del dataframe 
    df_prody.drop(['Xcpt','Xct','Xpt','Xt','Yc'],axis=1,inplace=True,errors='ignore')


    return df_prody

In [ ]:
    # print('Creando las combinaciones de país-producto-tiempo')
    # df_all = pd.DataFrame(list(product(data[anio_col].unique(), data[pais_col].unique(),data[prod_col].unique())))
    # df_all.columns=[anio_col,pais_col,prod_col]
    # print('Se procede a fusionar los datos')
    # df_all = pd.merge(df_all,data[[anio_col,pais_col,prod_col,value_col]],how='left',on=[anio_col,pais_col,prod_col])
    # df_all.loc[df_all[value_col].isnull(),value_col] = 0

    # # En esta parte se calculan propiedades
    # print('calculando')
    # df_all['Xcpt'] = df_all[value_col]
    # df_all['Xct'] = df_all.groupby([pais_col, anio_col])[value_col].transform(sum)
    # df_all['Xpt'] = df_all.groupby([prod_col, anio_col])[value_col].transform(sum)
    # df_all['Xt'] = df_all.groupby([anio_col])[value_col].transform('sum')

    # df_all['RCAcpt'] = (df_all['Xcpt']/df_all['Xct'])/(df_all['Xpt']/df_all['Xt']) #--> ecuación de las ventaja comparativa revelada RCA

In [ ]:
# !git --version
# !git config --global user.name "descandon88"
# !git config --global user.email "david.escandon.v@gmail.com"

In [22]:
df_prody = calc_prody(data=df_merge,pais_col='country_name',prod_col='product_name',anio_col='year',export_col='export_value',gdp_per_capita_col='gdp_per_capita').copy()
df_prody.sample(n=10)

En esta parte de la funcion se crea la combinación de producto-i, país-c y tiempo-t
Se procede a fusionar los datos
Se hace el calculo de RCA
Se hace el calculo de PRODY

         year              country_name                                                                                                                                                                                             product_name  export_value  gdp_per_capita  RCAcpt    PRODY
965358   2004                   Belgium                                                                                                                 Alcohols; cyclic, and their halogenated, sulphonated, nitrated or nitrosated derivatives   29389030.00        35429.41    1.00 35349.91
3084797  2013                     Aruba                                                                                                                                                                                    Lead; waste and scrap          0.00        26515.68    0.00     0.00
1879999  2007                     Samoa                                              Barbed wire of iron or steel; twisted hoop or single flat wire, barbed or not and loosely twisted double wire, of a kind used for fencing, of iron or steel          0.00         3011.10    0.00     0.00
796029   2003         Equatorial Guinea  Photographic (including cinematographic) laboratory equipment, (including apparatus for projection of circuit patterns on sensitised semi-conductor materials) n.e.s., negatoscopes; projection screens          0.00         3146.52    0.00     0.00
732022   2003                Bangladesh                                                                           Articles of apparel and clothing accessories (including gloves), for all purposes, of vulcanised rubber other than hard rubber     178141.00          440.71    0.08    36.32
875302   2003                    Poland                                                                              Cobalt; mattes and other intermediate products of cobalt metallurgy, cobalt and articles thereof, including waste and scrap      24197.00         5701.60    0.00    16.09
1159506  2004  United States of America                                                                                                        Tarpaulins, awnings and sunblinds, tents, sails for boats, sailboards or landcraft; camping goods   72501616.00        41724.63    0.43 18086.28
3152995  2013                  Ethiopia                                                                                       Silver (including silver plated with gold or platinum); unwrought or in semi-manufactured forms, or in powder form          0.00          490.79    0.00     0.00
1117209  2004          French Polynesia                                                                                       Articles of yarn, strip or the like of heading no. 5404 or 5405; twine, cordage, rope or cables n.e.s. or included          0.00        20829.07    0.00     0.00
2725706  2011                   Lebanon                                                             Mica; worked, articles of, including agglomerated or reconstituted mica; whether or not on a support of paper, paperboard or other materials      19311.00         7914.11    0.26  2073.65

In [24]:
df_prody[ (df_prody['country_name']=='Ecuador')].sort_values(by=['year'],ascending=True)[['product_name','export_value','year','gdp_per_capita','RCAcpt','PRODY']].copy()

                                                                                                                                                            product_name  export_value  year  gdp_per_capita  RCAcpt   PRODY
62100                                                                                                                             Horses, asses, mules and hinnies; live      56778.00  2000         1451.53    0.03   50.12
62932                                                                                              Stainless steel bars and rods, hot-rolled, in irregularly wound coils     330106.00  2000         1451.53    0.42  613.76
62931                                                                                                     Stainless steel; flat-rolled products of width less than 600mm          0.00  2000         1451.53    0.00    0.00
62930                                                                                                    Stainless steel; flat-rolled products of width of 600mm or more     146909.00  2000         1451.53    0.01   21.62
62929                                                                        Stainless steel in ingots or other primary forms; semi-finished products of stainless steel          0.00  2000         1451.53    0.00    0.00
...                                                                                                                                                                  ...           ...   ...             ...     ...     ...
4569728                                                                     Safety fuses; detonating fuses; percussion or detonating caps; igniters; electric detonators          0.00  2019         6233.26    0.00    0.00
4569727                                                                                                               Prepared explosives, other than propellent powders          0.00  2019         6233.26    0.00    0.00
4569726                                                                                                                                   Explosives; propellent powders          0.00  2019         6233.26    0.00    0.00
4569733  Photographic film in rolls, sensitised, unexposed, of any material other than paper, paperboard or textiles; instant print film in rolls, sensitised, unexposed          0.00  2019         6233.26    0.00    0.00
4570559                                                                                                                      Commodities not specified according to kind  244173872.00  2019         6233.26    0.31 1910.51

[24840 rows x 6 columns]

##Cálculo de EXPY

This product-level measure of sophistication is then used to measure the sophistication of
a country’s export basket as a whole. The authors call this measure EXPY. EXPY is simply the
PRODY of each good (i) that country c exports, weighted by that good’s share in the country’s
export basket (Xc). It represents the income level associated with a country’s overall export
package.

![expy.jpg]()

In [30]:
def calc_expy(data,pais_col,prod_col,anio_col,export_col,prody_col):
    """
    Función para el cálculo de EXPY c,t
    """
    print('En esta parte de la funcion se crea la combinación de producto-i, país-c y tiempo-t')
    df_expy = pd.DataFrame(list(product(data[anio_col].unique(),data[pais_col].unique(),data[prod_col].unique())))
    df_expy.columns=[anio_col,pais_col,prod_col]
    print('Se procede a fusionar los datos')

    df_expy = pd.merge(df_expy,data[[anio_col,pais_col,prod_col,export_col, prody_col]],how='left',on=[anio_col,pais_col,prod_col])
    df_expy.loc[df_expy[export_col].isnull(),export_col] = 0

    """
    Calculo de propiedades
    """
    df_expy['Xct'] = df_expy.groupby([pais_col,anio_col])[export_col].transform('sum')
    df_expy['Xct'] =  df_expy.groupby([prod_col,anio_col])[export_col].transform('sum')
    df_expy['XVALcit'] = df_expy[export_col]

    """ 
    Ecuación de EXPYc,t
    """
    df_expy['EXPY']= (df_expy['XVALcit']/df_expy['Xct'])*df_expy['Xct']

    return df_expy

In [31]:
df_expy = calc_expy(data=df_prody,pais_col='country_name',prod_col='product_name',anio_col='year',export_col='export_value',prody_col='PRODY').copy()
df_expy.sample(n=5)

En esta parte de la funcion se crea la combinación de producto-i, país-c y tiempo-t
Se procede a fusionar los datos

         year              country_name                                                                                                                                                                product_name  export_value    PRODY            Xct     XVALcit        EXPY
3035601  2012                Seychelles                                                                                                       Sugar confectionery (including white chocolate), not containing cocoa          0.00     0.00  8791952600.00        0.00        0.00
4289692  2018              Burkina Faso  Lamps; portable, electric, designed to function by their own source of energy (eg dry batteries, accumulators, magnetos), excluding lighting equipment of heading no. 8512      15462.00    24.99  3105385850.00    15462.00    15462.00
54559    2000                    Cyprus                                                                                                        Navigational instruments and appliances; direction finding compasses     627870.00 11780.93  4143880135.00   627870.00   627870.00
2575513  2010                   Tunisia                                                                                                     Tube or pipe fittings (eg couplings, elbows, sleeves), of iron or steel   16785136.00  4249.24 13586476327.00 16785136.00 16785136.00
1221334  2005  Central African Republic                                                                 Polymers of vinyl acetate or of other vinyl esters, in primary forms; other vinyl polymers in primary forms          0.00     0.00  3103246820.00        0.00        0.00

In [33]:
df_expy_ec = df_expy[ (df_expy['country_name']=='Ecuador')].sort_values(by=['year'],ascending=True)[['product_name','export_value','year','PRODY','EXPY']].copy()
df_expy_ec.sample(n=10)

                                                                                                                                                                                                 product_name  export_value  year     PRODY          EXPY
2672124                                                                                                                                                                Woven fabrics of silk or of silk waste       8505.00  2011     15.28       8505.00
300099                                                                                    Glass; drawn and blown, in sheets, whether or not having an absorbent or reflecting layer, but not otherwise worked       1151.00  2001     13.94       1151.00
1961012  Light-vessels, fire-floats, dredgers, floating cranes, other vessels; the navigability of which is subsidiary to main function; floating docks, floating, submersible drilling, production platforms          0.00  2008      0.00          0.00
4569908                                                                                                                               Yarn of fine animal hair (carded or combed), not put up for retail sale          0.00  2019      0.00          0.00
1723197  Uncoated paper and paperboard, used for writing, printing etc, punch card stock and punch tape paper, in rolls or sheets, excluding paper of heading no. 4801 or 4803; hand-made paper or paperboard    1881652.00  2007    256.02    1881652.00
1723051                                                                                                                                                                           Waxes; artificial, prepared      89021.00  2007    143.43      89021.00
62386                                                                                                                                                                          Chromium oxides and hydroxides          0.00  2000      0.00          0.00
3383434                                          Natural steatite; whether or not roughly trimmed or merely cut, by sawing or otherwise, into blocks or slabs of a rectangular (including square) shape; talc       3652.00  2014     15.73       3652.00
2434384                                                                                                                                                          Bananas, including plantains; fresh or dried 2549609216.00  2010 809412.40 2549609216.00
1485822                  Cosmetic and toilet preparations; beauty, make-up and skin care preparations (excluding medicaments, including sunscreen or sun tan preparations), manicure or pedicure preparations    4628093.00  2006    709.84    4628093.00